/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playwrite DE Grund', sans-serif;
}

html {
    height: auto;
    overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, #1a1a1a 0%, #2c2c2c 100%);
    color: #dad2bc;
}

.container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    z-index: 1000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    font-size: 25px;
    color: #f5f1ed;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
}

.header__logo:hover {
    transform: scale(1.1);
    color: #dad2bc;
}

.header__navbar {
    display: flex;
}

.header__nav-link {
    font-size: 18px;
    color: #dad2bc;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}
.header__hamburger-icon img {
    width: 40px;
    height: 40px;
}
.header__nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #f5f1ed;
    transition: width 0.3s, left 0.3s;
}

.header__nav-link:hover::after,
.header__nav-link--active::after {
    width: 100%;
    left: 0;
}

.header__nav-link:hover {
    color: #f5f1ed;
    transform: translateY(-5px);
}

.header__nav-link--active {
    color: #f5f1ed;
}

.header__hamburger {
    position: relative;
    display: none;
}

.header__toggler {
    display: none;
}

.header__hamburger-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header__mobile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #1a1a1a;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.header__mobile-link {
    display: block;
    color: #f5f1ed;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s;
}

.header__mobile-link:hover,
.header__mobile-link--active {
    color: #70798c;
}

.header__toggler:checked ~ .header__hamburger-icon + .header__mobile-menu {
    display: flex;
}
.atyrau {
    background-color: #252525;
    border-radius: 12px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
    margin: 100px auto 60px auto;
    padding: 15px 10%;
    width: 90%;
}

.atyrau__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.atyrau__image {
    flex-basis: 40%;
}

.atyrau__image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.atyrau__image img:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.atyrau__text-part {
    flex-basis: 55%;
    text-align: left;
}

.atyrau__text-part__title {
    font-size: 28px;
    font-weight: 600;
    color: #dad2bc;
    margin-bottom: 10px;
    position: relative;
}

.atyrau__text-part__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #f5f1ed;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.atyrau__text-part__title:hover::after {
    transform: scaleX(1);
}

.atyrau__text-part__loc {
    font-size: 20px;
    color: #f5f1ed;
    margin-bottom: 15px;
}

.atyrau__text-part__main-text {
    color: #d1d1d1;
    font-size: 18px;
    margin-bottom: 10px;
}

.atyrau__full-address {
    color: #d1d1d1;
    font-size: 16px;
    margin: 5px 0 15px 0;
}

.atyrau__button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.map-button {
    background-color: #f5f1ed;
    color: #252525;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.map-button:hover {
    background-color: #dad2bc;
    transform: scale(1.05);
}

.map-button i {
    margin-right: 10px;
    color: #9a9a9a;
}

.kaskelen {
    background-color: #1a1a1a;
    border-radius: 12px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
    margin: 60px auto;
    padding: 15px 10%;
    width: 90%;
}

.kaskelen__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.kaskelen__image {
    flex-basis: 40%;
}

.kaskelen__image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kaskelen__image img:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}
.kaskelen__text-part {
    flex-basis: 55%;
    text-align: right;
}

.kaskelen__text-part__title {
    font-size: 28px;
    font-weight: 600;
    color: #dad2bc;
    margin-bottom: 10px;
    position: relative;
}

.kaskelen__text-part__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #f5f1ed;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.kaskelen__text-part__title:hover::after {
    transform: scaleX(1);
}

.kaskelen__text-part__loc {
    font-size: 20px;
    color: #f5f1ed;
    margin-bottom: 15px;
}

.kaskelen__text-part__main-text {
    color: #d1d1d1;
    font-size: 18px;
    margin-bottom: 10px;
}

.kaskelen__full-address {
    color: #d1d1d1;
    font-size: 16px;
    margin: 5px 0 15px 0;
}

.kaskelen__button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.kaskelen__map-button {
    background-color: #f5f1ed;
    color: #252525;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.kaskelen__map-button:hover {
    background-color: #dad2bc;
    transform: scale(1.05);
}

.kaskelen__map-button i {
    margin-right: 10px;
    color: #9a9a9a;
}


.contact {
    background-color: #1a1a1a;
    padding: 50px 10%;
    border-radius: 12px;
    margin: 60px auto;
    width: 90%;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contact__info {
    text-align: center;
    margin-bottom: 30px;
}

.contact__info h3 {
    font-size: 20px;
    color: #f5f1ed;
    margin-bottom: 10px;
}

.contact__info h1 {
    font-size: 36px;
    color: #f5f1ed;
    margin-bottom: 20px;
}

.contact__highlight {
    color: #dad2bc;
}

.contact__info p {
    color: #d1d1d1;
    margin-bottom: 20px;
}

.contact__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.contact__details li {
    font-size: 18px;
    color: #d1d1d1;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact__details li .icon {
    margin-right: 10px;
    color: #f5f1ed;
    font-size: 24px;
}

.contact__social-media {
    text-align: center;
    width: 100%;
}

.social-media__icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-media__icon {
    transition: transform 0.3s;
}

.social-media__icon:hover {
    transform: scale(1.1);
}


.contact-form {
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-group.full-width {
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form-group label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #f5f1ed;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #f5f1ed;
    font-size: 16px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #9a9a9a;
}

.form-group textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    background-color: #f5f1ed;
    color: #252525;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover {
    background-color: #dad2bc;
    transform: scale(1.05);
}

.contact-form button .icon {
    margin-right: 10px;
    color: #252525;
    font-size: 20px;
}

.footer {
    background: #3a3a3a;
    text-align: center;
    padding: 20px;
    color: #f5f1ed;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 1235px) and (min-width:768px) {
    .header {
        padding: 15px 5%;
    }

    .atyrau, .kaskelen, .contact {
        width: 95%;
    }

    .atyrau__container, .kaskelen__container {
        flex-direction: column;
        text-align: center;
    }

    .atyrau__image, .kaskelen__image {
        flex-basis: 100%;
    }

    .atyrau__text-part, .kaskelen__text-part {
        flex-basis: 100%;
        text-align: center;
    }
    .header__navbar {
        display: flex; 
    }

    .header__hamburger {
        display: none; 
    }

    .header__mobile-menu {
        display: none; 
    }
    .form-group {
        flex-direction: column;
    }
    .atyrau__button-container,.kaskelen__button-container {
        justify-content: center;
    }
}

@media (max-width: 768px){
    .atyrau__container, .kaskelen__container {
        flex-direction: column;
        text-align: center;
    }

    .atyrau__image img, .kaskelen__image img {
        width: 100%;
        height: auto;
    }
    .header__navbar {
        display: flex; 
    }

    .header__hamburger {
        display: none; 
    }
    .navbar a {
        font-size: 14px;
        margin-left: 20px;
    }
    .atyrau__text-part,.kaskelen__text-part{
        text-align: center;
    }

    .contact__container {
        padding: 30px 5%;
    }

    .contact__info h1 {
        font-size: 28px;
    }

    .contact__info p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .contact__details li {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .contact-form button {
        width: 100%;
    }

    .map-button {
        width: 100%;
        justify-content: center;
    }
}
@media (max-width:621px) {
    .map-button, .kaskelen__map-button, .atyrau__map-button {
        justify-content: center;
    }

    .contact__container {
        padding: 20px;
    }

    .contact__form form {
        gap: 15px;
    }

    .contact-form .form-group {
        flex-direction: column;
        width: 100%;
    }

    .contact-form input, 
    .contact-form textarea {
        width: 100%;
        margin-bottom: 15px;
    }

    .contact-form button {
        width: 100%;
        padding: 12px;
    }

    .atyrau__text-part__title, 
    .kaskelen__text-part__title {
        font-size: 24px;
    }

    .atyrau__text-part__loc, 
    .kaskelen__text-part__loc {
        font-size: 18px;
    }
    .header__navbar {
        display: none;
    }

    .header__hamburger {
        display: flex; 
    }

    .header__mobile-menu {
        display: none;
        flex-direction: column;
    }
}

@media (max-width: 431px) {

    .map-button, .kaskelen__map-button, .atyrau__map-button {
        justify-content: center;
    }

    .contact__container {
        padding: 20px;
    }

    .contact__form form {
        gap: 15px;
    }

    .contact-form .form-group {
        flex-direction: column;
        width: 100%;
    }

    .contact-form input, 
    .contact-form textarea {
        width: 100%;
        margin-bottom: 15px;
    }

    .contact-form button {
        width: 100%;
        padding: 12px;
    }

    .atyrau__text-part__title, 
    .kaskelen__text-part__title {
        font-size: 24px;
    }

    .atyrau__text-part__loc, 
    .kaskelen__text-part__loc {
        font-size: 18px;
    }
    .header__navbar {
        display: none;
    }

    .header__hamburger {
        display: flex;
    }

    .header__mobile-menu {
        display: none;
        flex-direction: column;
    }
}